@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using WebApp.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <header id="header" class="fixed-top d-flex align-items-center @ViewData["MainPage"]">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <h1 class="text-light">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house"></i>
                        SELLTOOL
                    </a>
                </h1>
            </div>
            <nav id="navbar" class="navbar">
                <div class="container-fluid">
                    <ul class="text-white">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="fs-6">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-item-text text-white">Demo</div>
                            <ul class="@ViewData["MainPageNav"]">
                                <li><a asp-controller="Demo" asp-action="Demo" class="@ViewData["MainPageTxt"]">Demo Page</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-item-text text-white">CVS</div>
                            <ul class="@ViewData["MainPageNav"]">
                                <li><a asp-controller="CVS" asp-action="CVS" class="@ViewData["MainPageTxt"]">CVS Functs</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-item-text text-white">Staples</div>
                            <ul class="@ViewData["MainPageNav"]">
                                <li><a asp-controller="Staples" asp-action="Staples" class="@ViewData["MainPageTxt"]">Staples Functs</a></li>
                                <li><a asp-controller="Staples" asp-action="StaplesAdv" class="@ViewData["MainPageTxt"]">Staples Adv</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-item-text text-white">Inventory</div>
                            <ul class="@ViewData["MainPageNav"]">
                                <li>
                                    <a asp-controller="Inventory" asp-action="Index" class="@ViewData["MainPageTxt"]">Products</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-item-text text-white">User</div>
                            <ul class="@ViewData["MainPageNav"]">
                                <li><a asp-controller="Manage" asp-action="Index" title="Manage" class="@ViewData["MainPageTxt"]">Profile</a></li>
                                <li><a asp-controller="Manage" asp-action="ChangePassword" class="@ViewData["MainPageTxt"]">Change Password</a></li>
                            </ul>
                        </li>
                        <li>
                            <form class="form-inline fs-6" asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn text-white">Logout</button>
                            </form>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-item-text text-white"><i class="bi bi-gear"></i></div>
                            <ul class="@ViewData["MainPageNav"]">
                                <li><a asp-controller="Account" asp-action="Register" class="@ViewData["MainPageTxt"]">Register New User</a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </div>
            </nav>
        </div>
    </header>
}
else
{
    <header id="header" class="fixed-top d-flex align-items-center @ViewData["MainPage"]">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <h1 class="text-light">
                    <a asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i>SELLTOOL</a>
                </h1>
            </div>
            <nav id="navbar" class="navbar">
                <div class="container-fluid">
                    <ul class="text-white">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="fs-6">Home</a>
                        </li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="fs-6">Log in</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </div>
            </nav>
        </div>
    </header>
}
